<!-- Base template -->
<html>
  <head>
    {% if title %}
      <title>{{title}} - microblog</title>
    {% else %}
      <title>Welcome to microblog</title>
    {% endif %}
  </head>

  <body>
    <script src="/static/js/moment.min.js"></script>
    <div>Microblog: <a href="{{ url_for('index') }}">Home</a>
    <!-- Present logout link iff user is logged in -->
    {% if g.user.is_authenticated() %}
      <a href="{{ url_for('user', nickname=g.user.nickname)}}">Your profile</a>
      <a href="{{ url_for('logout') }}">Logout</a>
      <!-- Display search form iff user is logged in -->
      {% if g.search_enabled %}
      <form style="display: inline;", action="{{url_for('search')}}" method="post" name="search">
        {{g.search_form.hidden_tag()}}
        {{g.search_form.search(size=20)}}
        <input type="submit" value="Search">
      </form>
      {% endif %}
    {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            {% if 'SUCCESS' in message %}
            <span style="color: green;"><li>{{message}}</li></span>
            {% elif 'ERROR' in message %}
            <span style="color: red;"><li>{{message}}</li></span>
            {% else %}
            <span style="color: blue;"><li>{{message}}</li></span>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </body>
</html>
